@import url("https://rsms.me/inter/inter-ui.css");

* {
  font-family: "Inter UI", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #00ffa2;
  background: #004466;
}

/* theming scrollbars */
/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
::-webkit-scrollbar {
  height: 4px;
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #004466;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #00ffa2;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}

/* .search-container {
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
  margin-top: 12px;
  margin-right: 12px;
  height: 36px;
} */

/* .search-input {
  margin-left: 2px;
  margin-right: 12px;
  margin-bottom: 4px;
  flex: 1 0 auto;

  background: #004466;
  color: #00ffa2;
  caret-color: #00ffa2;

  border: 0;
  border-bottom: 2px solid #00ff8d;
  outline: none;
}
.search-input_closed {
  display: none;
} */

/* .search-container_button {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}
.search-container_button-right {
  width: 100vw;
} */

/* .search-button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  margin-right: 4px;
  background: #004466;
  cursor: pointer;
} */
/* .search-button svg {
  fill: #00ff8d;
}
.search-button:hover svg {
  fill: #004466;
  background: #00ff8d;
  border-radius: 50%;
} */

/* .reset-button {
  border: none;
  margin-top: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
} */
