.card {
  color: #00ffa2;
  background: #004466;
  border: solid 1px #00ffa2;
  margin-bottom: 24px;
}

.card:hover {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.list-main {
  list-style-type: none;
  line-height: 1.5;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 1.1em;
}

.list-main_item {
  color: #004466;
  background: #00ffa2;
  line-height: 2;
  padding-left: 8px;
  font-weight: 900;
  cursor: pointer;
}

.list-child {
  display: block;
  list-style-type: square;
  line-height: 1.5;
  font-size: 1.1em;
}

.list-child_item {
  line-height: 1.5;
  padding: 4px 8px;
  font-weight: 400;
}

.list-child_item-hidden {
  display: none;
}

.link {
  text-decoration: none;
  outline: none;
  color: #00ffa2;
  word-wrap: break-word;
}
.link:hover,
.link:focus {
  text-decoration-line: underline;
}

.link:visited,
.link:visited:hover,
.link:visited:focus {
  text-decoration: underline dotted #00ff8d;
  color: #00ff8d;
}

.loading-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.loading-text {
  margin-bottom: 4px;
  color: #00ffa2;
}

.loading-spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border-top-color: #00ffa2;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
